
.product-item {
    border: 1px solid #ccc;
    border-radius: 6px;
    margin: 0.3em;
    width: 22em;
    background-color: #BA324F;
    text-align: center;
    .image-container {
        position: relative;
        img {
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            border-bottom: 1px solid white;
            max-width: 100%;
            height: auto;
            transition: opacity 0.3s ease;
        }
        .product-description {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            padding: 10px;
            font-size: 1.2em;
            text-overflow: clip;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    
    .flip-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    font-size: 14px;
    }
    .flip-button:hover {
    background-color: rgba(0, 0, 0, 0.7);
    }

    .product-image.hidden {
        opacity: 0;
    }

    .product-description.hidden {
    display: none;
    }

    .title-card {
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
        p {
            margin: 0;
            padding-bottom: 0.2em;
            font-size: 1.6em;
            width: 100%;
            background-color: #BA324F;
            cursor: default;
        }
        h2 {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-grow: 1;
            margin: 0;
            padding: 0;
            font-size: 1.6em;
            width: 100%;
            min-height: 3.2em;
            cursor: default;
            border-bottom: 1px solid #fff;
        }
        div {
            width: 100%;
            display: flex;
            flex-direction: row;
            border-top: 1px solid white;
            button {
                margin: 0px;
                font-size: 1.3em;
                width: 50%;
                text-align: center;
                border-radius: 0;
                background-color: #175676 ;
                color: #fff;
            }
            button:hover {
                box-shadow: inset 0 0 12px rgba(255, 255, 255, 0.5);
            }
            .purchase-btn {
                border-bottom-left-radius: 5px;
                border-right: 1px solid white;
            }
            .addtocart-btn {
                border-bottom-right-radius: 5px;
                
            }
        }
    }
}
